/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  background-color: white;
}


/** Header **/

header section {
	display: flex;
	justify-content: space-between;
  padding: 1em;
  background-color: transparent;
  position: sticky;
  top: 0;
}

header section img {
  width: 1.5em;
}

.logo {
  display: flex;
  justify-content: center;
  margin-left: 3em;
  width: 8em;
}

header section div {
  display: flex;
  gap: 1.5em;
}

header nav ul {
	display: flex;
	gap: 3em;
	flex-wrap: nowrap;
	list-style: none;
	margin-top: 1em;
  margin-bottom: 2em;
	padding: 1em;
  overflow-x: auto;
  flex-shrink: 0;
}

header nav ul li a {
	white-space: nowrap;
  color: silver;
  font-family: 'Cabin', sans-serif;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}


/** Main **/

.row {
  display: flex;
  flex-wrap: wrap;

}

.first {
  flex: 70%;
  padding: 0em;
}

main div img {
  width: 100%;
  padding: 1em 0em 1em 0em;
}

@media  and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  
}




/** Footer **/

footer {
  display: flex;
  padding: 2em 2em;
  background: black;
}

footer section {
  flex: 50%;
  padding: 0.5em;
}

.logo2 {
  display: flex;
  justify-content: center;
  width: 10em;
}

footer section h1 {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: x-large;
  font-weight: bold;
}

footer section ul li {
  display: flex;
  list-style-type: none;
  color: whitesmoke;
  font-family: 'Cabin', sans-serif;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}